@import '../utils/variables.scss';
@import '../utils/mixins.scss';

main{
    display: flex;
    height: 90%;
    width: 90%;
    background-color: #444444;
    overflow: auto;
    align-items: center;
    flex-direction: column;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
    
    
}